
name: Build and Deploy Pipeline

on:
  workflow_dispatch:
    inputs:
        change_request_number:
          description: "Existing Change Request (e.g., CHG0056789)"
          required: true


env:
  CHANGE_REQUEST_NUMBER: ${{ github.event.inputs.change_request_number }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: echo "Build step executing..."

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy
        run: echo "Deploy step executing..."
